{% extends 'layout.html' %}

{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<div class="jumbotron text-center">
    <style>
        h1 {
            font-family: 'Allerta Stencil';
            font-size: 68px;
            color: #491c2b;
        }
    </style>
    <h1>Sentimental Analysis</h1> <br />
    <!-- Search form -->
    <style>
        .active-pink-4 input[type=text]:focus:not([readonly]) {
            border: 1px solid #f48fb1;
            box-shadow: 0 0 0 1.5px #f48fb1;
        }
    </style>
    <p> <b>Note:</b> Keywords must be greater than 2 characters.</p>
    <!-- Search form -->

    <form method="POST" action="">
        {{ form.csrf }}
        <div class="active-pink-3 active-pink-4 mb-4">
            <input class="form-control" id="keyword" name="keyword" type="text"
                placeholder="Keywords separated by commas (,) and press return to analyse." aria-label="Search">
        </div>
    </form>
    <!-- spinner when tweets are extracted in the background -->
    <script type="text/javascript">
        function spinner() {
            document.getElementById("spinner").innerHTML = '<div class="spinner-border text-danger" role="status"> <span class="sr-only">Loading...</span> </div>';
        }
    </script>
    <script>

        document.getElementById('keyword').addEventListener('keypress', function (event) {
            if (event.keyCode == 13) {
                spinner();
            }
        });
    </script>
    <div id="spinner"></div>
    {% if error %}
    <p class=error><strong>Error:</strong> {{ error }}
        {% endif %}

</div>

<div id="flash"></div>
{% if invalid %}
<p>{{ invalid }}</p>
{% endif %}

{% endblock %}